<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        h2 {
        font-size: 65px
        }
        .h2-text{
        color: red
        }
        #h1-text {
        font-size: 140px
        }
    </style>
</head>
<body>
<div class="Python">
    <h1 class="h2-text" id="h1-text">Hello</h1>
    <h2 class="h2-text h6-text">By</h2>
    <p>Привет как <span style="color: green">Нормально </span></p>
    <a href="https://github.com/Yang1R7/autotests-ui" target="_blank">Python </a>
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSY_yprB-HgeWRmRaJ2HQAYJeF-Hzdub09PvQ&s"
         style="width: 250px">
    <ul>
        <li>item 1</li>
        <li>item 2</li>
        <li>item 3</li>
    </ul>
    <ol>
        <li>item 1</li>
        <li>item 2</li>
        <li>item 3</li>
    </ol>
    <form action="/action" method="POST">
        <input type="text" value="1234" placeholder="Text">
        <input required type="email" placeholder="Email">
        <input type="password" placeholder="Password">
        <textarea required placeholder="Text"></textarea>
        <button type="submit" disabled>Text</button>
        <table>
            <thead>
            <tr>
                <td>Item 1</td>
                <td>Item 2</td>
                <td>Item 3</td>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>Row 1</td>
                <td>Row 2</td>
                <td>Row 3</td>
            </tr>
            <tr>
                <td>Row 1</td>
                <td>Row 2</td>
                <td>Row 3</td>
            </tr>
            </tbody>
        </table>
    </form>
</div>
<div class="JS">
    <a href="https://github.com/Yang1R7/autotests-ui" target="_blank">JS </a>
</div>
</body>
</html>