name: UI tests

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  run-tests:
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository
        uses: actions/checkout@v3

      - name: Set up python
        uses: actions/setup-python@v6
        with:
          python-version: '3.11'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          playwright install --with-deps

      - name: Run Playwright tests with pytest and generate Allure results
        run: |
          pytest -m "regression" --alluredir=./allure-results --numprocesses 2

      - name: Upload Allure results artifact
        uses: actions/upload-artifact@v3
        with:
          name: allure-results
          path: allure-results

  publish-report:
    runs-on: ubuntu-latest
    needs: run-tests
    steps:
      - name: Download Allure results artifact
        uses: actions/download-artifact@v3
        with:
          name: allure-results
          path: allure-results

      - name: Get allure history
        uses: actions/checkout@v3
        if: always()
        continue-on-error: true
        with:
          ref: gh-pages
          path: gh-pages-history # Клонируем gh-pages в отдельную папку

      - name: Allure report action from marketplace
        uses: simple-elf/allure-report-action@v1.13
        if: always()
        with:
          allure-results: allure-results
          allure_history: gh-pages-history/allure-history # Указываем путь к истории в новой папке

      - name: Deploy report to Github Pages
        uses: peaceiris/actions-gh-pages@v2
        env:
          PERSONAL_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          PUBLISH_BRANCH: gh-pages
          PUBLISH_DIR: allure-history
